/* Responsive */

@media (max-width: 1024px) {
  /* html {
      font-size: 55%;
    }
    .section .hone {
      padding-top: 70px;
    }
    .content {
      width: 100vw;
    } */
}

@media (max-width: 991) {
  .home {
    padding: 2rem;
    min-height: 100vh;
  }
  video {
    max-width: fit-content;
  }
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .content .box {
    margin-top: 13rem;
  }
}
@media (max-width: 1024px) {
  .home #myVideo {
    display: none;
  }
  .home #myVideo2 {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .content .box {
    /* margin-top: 13rem; */
  }
  .section-container {
    /* display: none; */
  }
  .content-view .puzzle {
    height: 15vh;
  }
  .content-view .puzzle .box {
    left: 0;
    width: 100vw;
    /* display: none; */
  }
  .content-view .box_2 .slide {
    position: relative;
    display: inline-block;
  }
  .box_2 .dropdown {
    display: none;
    position: relative;
    z-index: 1;
  }
  .slide:hover .dropdown {
    display: block;
  }
  .plan .row-inside #pro2 {
    width: 15vw;
    height: 106px;
    right: 12px;
    bottom: 0;
    top: 35%;
  }
  .plan .box1 {
    height: 200px;
  }
  .plan .box3 {
    position: relative;
  }
  .plan .box3 #step {
    position: relative;
    z-index: 2;
  }
  .plan .box3 #apply {
    position: relative;
    top: -23px;
    z-index: 1;
  }
  .open_class .open_pic {
    position: relative;
  }
  .open_class .open1 {
    display: flex;
  }
  .open_class .open1 img {
    width: 365px;
  }
  .open_class .aside-right .open_pic3,
  .open_class .aside-right .open_pic4 {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-container {
    position: relative;
    width: 100vw;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: fill;
    background-color: #ffe8c4;
  }
  .teacher-say2 {
    padding: 43px;
  }
  .teacher-2 {
    width: 100%;
  }
  .teacher .teacher-1 {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-1 {
    padding: 1rem;
  }
  .content-view {
    padding: 1rem;
  }
  .plan {
    padding: 1rem;
  }
  .open_class {
    padding: 1rem;
  }
  .teacher {
    padding: 1rem;
  }
  .star {
    padding: 1rem;
  }
  .btn {
    height: 100px;
    width: 100px;
  }
  .content a {
    margin-top: 20rem;
  }
  /* .home #myVideo2 {
    display: none;
  }
  .home #myVideo2 {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  } */
  /* body {
    background: url("../images/pic3.jpg");
    background-size: cover;
  }
  .home {
    padding: 2rem;
    min-height: 100vh;
  }
  .home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home img {
    width: 80rem;
  } */
  .home .box1 #pc {
    display: none;
  }
  .home .box1 #pc2 {
    display: block;
    width: 60vw;
  }

  .content-view .puzzle {
    background-image: none;
    height: auto;
  }
  .content-view .puzzle .box {
    left: 0;
    width: 100vw;
    display: none;
  }
  .content-view .box_2 .slide {
    position: relative;
    display: block;
  }
  .content-view .box_2 .slide img {
    display: block;
  }
  .box_2 .dropdown {
    display: none;
    position: relative;
    z-index: 1;
  }
  .slide:hover .dropdown {
    display: block;
  }

  .puzzle .power h3 {
    font-size: 50px;
  }
  .plan {
    width: 100%;
  }
  .plan .box1 {
    display: none;
  }
  .plan .box1 .plan1 {
    display: flex;
    flex-direction: column;
  }
  .plan .box1 .plan1 .plan-004 {
    background-image: url("../images/start.png");
    background-size: cover;
    width: auto;
    height: 50vh;
  }
  .plan .box1 .plan1 .plan-004:hover {
    background-image: url("../images/start2.png");
  }
  .plan .hover-style-switcher {
    display: none;
  }
  .open_pic {
    /* position: absolute; */
  }
  .footer .menu-logo {
    margin: 10px 10px 10px 0;
    transition: all 0.5s ease;
    padding-right: 6rem;
    box-shadow: 1;
    /* width: 100%; */
  }

  .open_class .open1 img {
    width: 365px;
  }
}

@media (max-width: 575px) {
  /* video {
    max-width: fit-content;
  } */
  .open_class .open1 img {
    width: 167px;
  }
  .content a {
    margin-top: 12rem;
  }
}

@media (max-width: 376) {
  .puzzle .power h3 {
    font-size: 50px;
  }
}
