/* .box2 {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  padding: 15px;
  width: 100vw;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.5 ease;
} */
/* .box2 .open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
} */
/* .hover-style-switcher:hover .box2 {
  opacity: 1;
} */
.box2 {
  /* display: flex; */
  /* margin: 0; */
  /* transform: translatey(-200px); */
  /* transition: top 0.3s ease-in-out; */
}
.hover-style-switcher:hover .box2 {
  /* top: -50px; */
}
/* .plan .row {
  display: flex;
  white-space: nowrap;
} */
.row-onside img {
  position: absolute;
  top: -45px;
  right: 0;
  opacity: 0;
}
.row-onside {
  top: 0;
  bottom: 0;
  /* position: relative; */
}
.row-onside #up {
  position: absolute;
  float: left;
}

.row img {
  padding: 0;
  margin: 0;
  bottom: 0;
}
.row-inside {
  top: 0;
  bottom: 0;
}
.row-inside #pro {
  position: absolute;
  /* float: left; */
  width: 57vw;
  height: 90%;
}
.row-inside #pro2 {
  /* width: 30vw; */
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
  right: 0;
  width: 32%;
  /* float: right; */
  /* height: 100%; */
}
.row-inside #pro3 {
  position: absolute;
  right: 0;
  width: 27vw;
  top: 0;
  display: none;
  z-index: 5;
}
.row-inside #pro2:active #pro3 {
  display: inline-block;
}
.row-inside img:nth-of-type(1) {
  left: 0;
}
.row-inside img:nth-of-type(2) {
  right: 0;
}
.start {
  width: 100px;
  margin: 0 auto;
  float: right;
}

.box2 .row-inside img {
  opacity: 0;
  /* top: 600px; */
}

.hover-style-switcher:hover img {
  opacity: 1;
  /* top: 50px; */
  transition: top 0.6s;
}
.hover-style-switcher:hover #down {
  display: none;
}
