/* .box2 {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  padding: 15px;
  width: 100vw;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.5 ease;
} */
/* .box2 .open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
} */
.box2 {
  /* position: relative;
  opacity: 0; */
  /* text-align: center;
  height: 100%; */
  /* top: 0;
  left: 0; */
}
/* .hover-style-switcher:hover .box2 {
  opacity: 1;
} */
.box2 {
  margin: 0;
  /* position: absolute; */
  /* transform: translatey(-200px); */
  transition: top 0.3s ease-in-out;
}
.hover-style-switcher:hover .box2 {
  top: -50px;
}
.box2 {
  top: 50;
}
.hover-style-switcher #down:hover .box2 {
  top: 0;
}
.plan .row {
  display: flex;
  white-space: nowrap;
}
.row-onside {
  display: flex;
  flex-flow: wrap;
}
.row-inside {
  /* position: absolute; */
  display: flex;
  /* max-height: 100px; */
}
.row img {
  padding: 0;
  margin: 0;
  bottom: 0;
}
.row-inside #pro {
  width: 71%;
  padding: 0;
  margin: 0;
  /* max-height: 310px; */
}
.row-inside #pro2 {
  width: 30%;
  /* max-height: 300px; */
  margin: 0;
  padding: 0;

  /* height: 100%; */
}
.row-inside img:nth-of-type(1) {
  left: 0;
}
.row-inside img:nth-of-type(2) {
  right: 0;
}
.start {
  width: 100px;
  margin: 0 auto;
  float: right;
}

/* .hover-style-switcher:hover .box2 img {
  transform: translatey(-100px);
  opacity: 1;
} */
