/* .box2 {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  padding: 15px;
  width: 100vw;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.5 ease;
} */
/* .box2 .open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
} */
/* .hover-style-switcher:hover .box2 {
  opacity: 1;
} */
.box2 {
  /* display: flex; */
  /* margin: 0; */
  /* transform: translatey(-200px); */
  /* transition: top 0.3s ease-in-out; */
}
.hover-style-switcher:hover .box2 {
  /* top: -50px; */
}
/* .plan .row {
  display: flex;
  white-space: nowrap;
} */
/* .row-onside img {
  display: flex;
  flex-flow: wrap;
  vertical-align: middle;
} */
.row-onside {
  position: relative;
  display: flex;
  top: -420px;
}

.row img {
  padding: 0;
  margin: 0;
  bottom: 0;
}
.row-inside {
  top: 0;
  bottom: 0;
}
.row-inside #pro {
  position: absolute;
  float: left;
  width: 70vw;
  padding: 0;
  margin: 0;
}
.row-inside #pro2 {
  width: 30vw;
  margin: 0;
  padding: 0;
  position: absolute;
  float: right;
  height: 70%;
}
.row-inside img:nth-of-type(1) {
  left: 0;
}
.row-inside img:nth-of-type(2) {
  right: 0;
}
.start {
  width: 100px;
  margin: 0 auto;
  float: right;
}

.box2 img {
  opacity: 0;
  top: 550px;
}

.hover-style-switcher:hover .box2 img {
  opacity: 1;
  top: 300px;
  transition: top 0.6s;
}
